@model ProjetoBiblioteca.Models.Livro

@{
    ViewData["Title"] = "Cadastrar Livro";
}

<h2>Cadastrar Livro</h2>

<form asp-action="Create" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="Titulo" class="form-label"></label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Autor" class="form-label"></label>
        <input asp-for="Autor" class="form-control" />
        <span asp-validation-for="Autor" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Categoria" class="form-label"></label>
        <input asp-for="Categoria" class="form-control" />
        <span asp-validation-for="Categoria" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Descricao" class="form-label"></label>

        <textarea asp-for="Descricao"
                  class="form-control"
                  rows="5"></textarea>

        <span asp-validation-for="Descricao"
              class="text-danger"></span>
    </div>

    <div class="mb-3">

        <label class="form-label">
            Capa do Livro
        </label>

        <input type="file"
               name="imagem"
               class="form-control"
               accept=".jpg,.jpeg,.png,.webp" />

    </div>

    <div class="form-check mb-3">

        <input asp-for="Disponivel"
               class="form-check-input" />

        <label asp-for="Disponivel"
               class="form-check-label">

            Livro disponível para empréstimo

        </label>

    </div>

    <button type="submit" class="btn btn-success">
        Cadastrar
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Voltar
    </a>

</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}